@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #effafa;
}

@mixin responsive {
  @media (min-width: 426px) {
    @content;
  }
}

header {
  background: url(./images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 156px;
  background-color: #5ca5a5;
  padding: 24px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;

  #search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }

  .search-box {
    padding: 20px 103px 20px 19px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 15px 20px -5px rgba(13, 113, 130, 0.15);
    margin-bottom: -76px;
  }

  .tech {
    background-color: #eff7f7;
    border: none;
    display: flex;
    align-items: center;

    .title {
      color: #5ca5a5;
      font-family: "League Spartan";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
      letter-spacing: -0.123px;
      display: inline-block;
      padding: 5px 11px 3px 8px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .closeBtn {
      background: #5ca5a5;
      display: inline-block;
      padding: 8px 9px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      img {
        width: 13.435px;
        height: 13.435px;
      }
    }
  }

  @include responsive() {
    background: url(./images/bg-header-desktop.svg);
    background-color: #5ca5a5;
  }
}

main {
  padding: 24px;
  .company {
    padding: 39px 24px 24px 24px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 15px 20px -5px rgba(13, 113, 130, 0.15);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    .info1 {
      display: flex;
      width: 100%;
      align-items: center;
      min-height: 24px;

      .companyName {
        margin-right: 33px;
        color: #5ca5a5;
        font-family: "League Spartan";
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .newTag {
        color: #fff;
        text-align: center;
        font-family: "League Spartan";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px; /* 100% */
        letter-spacing: -0.108px;
        text-transform: uppercase;
        width: 51px;
        height: 24px;
        border-radius: 12px;
        background: #5ca5a5;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
      }

      .FeaturedTag {
        color: #fff;
        font-family: "League Spartan";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px; /* 100% */
        letter-spacing: -0.108px;
        text-transform: uppercase;
        width: 79px;
        height: 24px;
        border-radius: 12px;
        background: #2b3939;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .profession {
      color: #2b3939;
      font-family: "League Spartan";
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 160% */
      margin: 9px 0;
    }

    img {
      width: 48px;
      height: 48px;
      margin-top: -64px;
    }
  }

  .info2 {
    display: flex;
    align-items: center;
    gap: 11px;
    span {
      color: #7c8f8f;
      font-family: "League Spartan";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: -0.123px;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #7c8f8f;
    margin: 16px 0;
  }

  .companyTags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    .tag {
      color: #5ca5a5;
      font-family: "League Spartan";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
      letter-spacing: -0.123px;
      border: 0;
      width: 81px;
      height: 32px;
      border-radius: 4px;
      background-color: #eff7f7;
    }
  }
}
